<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Guestbook</title>
    <link type="text/css" rel="stylesheet" href="css/guestbook.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
</head>

<body class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">A03Lee</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="homepage">Home</a></li>
                <li><a href="Tip-calculator">Convert</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="guestbook">Guestbook</a></li>                    
            </ul>
        </div>
    </nav>
    <!-- <ul class="nav">
            <div class="logo">
                <a href="#">GUNHEE LEE</a>
            </div>
            <li><a href="homepage">About Me</a></li>
            <li><a href="Tip-calculator">Tip Calculator</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="guestbook">Guestbook</a></li>
    </ul> -->

    <h1>
        Lee's Guestbook
        <a href="/new-entry" class="btn btn-primary pull-right">
            Write in the guestbook
        </a>
    </h1>
</body>
