
h2{
    color: lightseagreen;
}


#header{
    max-width: 600px;    
}
#content{
    color: yellowgreen;
    font-weight: bold;
    font-size: 20px;
    background-color: lightcyan;
    max-width: 600px;
}